# -----------------------------------------------------------------------------
# Rust, Python
# -----------------------------------------------------------------------------

# Environments
.venv

# Artifacts
/site
/target
__pycache__
*.dll
*.so

# Tracing
trace.json

# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------

# Never ignore .gitkeep files
!**/.gitkeep

# macOS internals
.DS_Store

# Temporary files
tmp